p{
  display: inline;
}

.description{
  margin-left: 10%;
}

.btn-inc{
  border: 1px solid #3498db;
  background: #fff;
  color: #3498db;
  padding: 2% 4%;
  border-radius: 4px;
}

.btn-inc:hover{
  background: #3498db;
  color: white;
}

.btn-exp{
  border: 1px solid #c0392b;
  background: #fff;
  color: #c0392b;
  padding: 2% 4%;
  border-radius: 4px;
}

.btn-exp:hover{
  background: #c0392b;
  color: white;
}

.card-margin{
  margin-bottom: 2%;
}

