.enter-value{
    margin-top: 4%;
}

.click-button{
    margin-left: 5%;
}

.invalid{
  border: 1px solid red;
}

.form-control:focus {
  border: 1px solid rgba(85, 85, 85, 0.62);
  outline: 0;
  box-shadow: none;
}
