<div class="container">
    <form class="enter-value" (submit)="update(inputData)" #inputData = "ngForm">
        <div class="form-row">
            <div class="col-md-2">
                <select id="inputState" class="form-control" name = "type" ngModel>
                    <option selected>income</option>
                    <option>expense</option>
                </select>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Enter the value"
                       name = "amount"
                       ngModel
                       required
                      [ngClass]="invalid()">
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Enter the Description"
                       name = "description"
                       ngModel
                       required
                       [ngClass]="invalid()">
            </div>
            <div class="col-md-2">
                <button type = "submit" class = "btn btn-primary click-button">Enter</button>
            </div>
        </div>
    </form>
</div>
